div#container {
  padding-top: 50px;
  
  /* background-image: url("/assets/meeting.jpg"); */
  /* background-image: url("/assets/genericcpu.jpg"); */
  
 background-image: url("/assets/meetingroom.jpg");
  background-size: cover;
  min-height: 100%;
}
div.form-div {

  font-size: 18pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: whitesmoke;
  background-color: #282E34;
  transform: translate(calc(50vw - 150px), calc(25vh));
  width: 300px;
}
fieldset{
    border: 1px solid;
    border-radius: 8px;
}
div.form-div label{
    min-width: 200px;
    text-align: right;
    margin-right: 10px;
}

input, button {
  opacity: 1;
}
