<div class="nav" *ngIf="us.user.title == 'nothing'">
    <a class="nav" routerLink="/">H O M E</a>
    <a class="nav" name="login" routerLink="/login">Login</a>
    <a class="nav" routerLink="/register">Register</a>
</div>

<div class="nav" *ngIf="us.user.title == 'user'">
    <a routerLink="/">H O M E</a>
    <a routerLink="/contact">Contact</a>
    <a routerLink="/order">Order</a>
    <a routerLink="/register">Logout</a>
</div>


<div id="container">
    <div class="bgimg-1">
        <div class="caption">
            <span class="border">GIVE US YOUR MONEY!</span>
        </div>

    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">


            <h1>About us</h1>
            <p>We were established yesterday, please trust us with your money and computing needs.</p>
        </div>
    </div>

    <div class="bgimg-2">

    </div>

    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">


            <p>Check out some examples of our work</p>
        </div>
    </div>
    <div class="bgimg-3">

    </div>



    <div style="position:relative;">
        <div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">

            <p>User testimonials etc</p>
        </div>
    </div>
</div>