<!--The content below is only a placeholder and can be replaced.-->
<!-- TODO: nav bar/logo -->
<div *ngIf = "user == null">
  <a routerLink="/">H O M E</a>
  <a name="login" routerLink="/login">Login</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/order">Order</a>
  <a routerLink="/register">Register</a>


</div>
<p>{{user}}</p>

<div *ngIf = "job === 'user'">
  <a routerLink="/">H O M E</a>
  <a routerLink="/contact">Contact</a>
  <a routerLink="/order">Order</a>
  <!-- TODO -->
  <a routerLink="/register">Logout</a>


</div>

<div *ngIf = "job === 'quartermaster'">
  <a routerLink="/">H O M E</a>
  <a routerLink="/order">Order</a>
  <a routerLink="/register">Logout</a>


</div>

<div *ngIf = "job === 'assembler'">
  <a routerLink="/">H O M E</a>
  <a routerLink="/order">Order</a>
  <a routerLink="/register">Logout</a>


</div>


<router-outlet></router-outlet>
