div#container{
    padding-top: 50px;
    background-image: url("/assets/genericcpu2.png");
    background-size: cover;
    min-height: calc(100% - 50px);
}
table#buildtable{
    background-color: rgba(0, 0, 0, .3);
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14pt;
    width: 100%;
    display: inline-block;
}
span#error {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: fuchsia;
    font-size: 18pt;
    display: inline-block;
    background-color: rgba(0,0,0,.6);
    transform: translate(calc(50vw - 50%), calc(25vh));
  }