<app-navbar></app-navbar>

<div id="container"  *ngIf="us.user.title == 'quartermaster'; else crederr">

    <table id="buildtable">
        <tr>
            <th>Order Id</th>
            <th>Build</th>
            <th>Request Details</th>
        </tr>
        <tr *ngFor="let order of orders">
            <ng-container *ngIf="order.status === 'pending approval'">



            <td>{{order.orderId}}</td>
            <td>
                <textarea [(ngModel)]="order.build" cols="30" rows="10">
                    {{order.build}}
                </textarea>
            </td>
            <td>{{order.requestDetails}}</td>
            <td><button (click)="order.status = 'approved'; updateOrder(order)">Approve Order</button>
                <button (click)="order.status = 'denied'; updateOrder(order)">Deny Order</button>
            </td>
        </ng-container>
        </tr>
    </table>
</div>
<ng-template #crederr>
    <div id="container">
        <span id="error">
            You don't have access to this feature
        </span>
    </div>
</ng-template>