<!--The content below is only a placeholder and can be replaced.-->
<!-- TODO: nav bar/logo -->
<div *ngIf="us.user.title == 'quartermaster'">
    <a routerLink="/">H O M E</a>
    <a routerLink="/quartermaster">Orders</a>
    <a (click)="us.logout()" routerLink="/">Logout</a>
</div>

<div *ngIf="us.user.title == 'user'">
    <a routerLink="/">H O M E</a>
    <a routerLink="/view">View Builds</a>
    <a routerLink="/order">Order</a>
    <a (click)="us.logout()" routerLink="/">Logout</a>
</div>

<div *ngIf="us.user.title == 'assembler'">
    <a routerLink="/">H O M E</a>
    <a routerLink="/assembler">Orders</a>
    <a (click)="us.logout()" routerLink="/">Logout</a>
</div>

<div class="nav" *ngIf="us.user.title == 'nothing'">
    <a routerLink="/">H O M E</a>
    <a name="login" routerLink="/login">Login</a>
    <a routerLink="/register">Register</a>
</div>